<div ng-class="{'kg-blur': blur==true}" class="kg-navbar {{bgNav}}" data-uk-sticky>
	<div class="uk-hidden-large uk-container uk-container-center uk-text-large">
		<div class="ui secondary icon five item menu" ng-if="isLogin()" >
			<a href="#mainSidebar" class="item" data-uk-offcanvas>
				<i class="bars icon"></i>
			</a>
			<a class="item" ng-click="formSearch()">
				<i class="search icon"></i>
			</a>
			<a class="item head active" href="/">
				<img src="public/img/kg_white.png">
			</a>
			<a class="item" data-uk-modal="{target:'#kg-modal'}" ng-click="createCatalog()">
				<i class="pencil icon"></i>
			</a>
			<a class="browse item" data-position="bottom right">
				<img ng-if="auth.picture" class="uk-border-circle" ng-src="{{ files + 'user/picture/thumb/'+ auth.picture }}" width="30">
				<i ng-if="! auth.picture" class="user icon"></i>
			</a>
			<div class="ui popup bottom right transition hidden">
				<div class="uk-grid">
					<div class="uk-width-2-5">
						<img ng-if="auth.picture" class="ui circular image" ng-src="{{ files + 'user/picture/'+ auth.picture }}">
						<img ng-if="! auth.picture" class="ui circular image" src="public/img/placeholder.jpg" />
					</div>
					<div class="uk-width-3-5">
						<h4>{{ auth.name }}</h4>
						<a class="ui kg-bg-base black button" href="/{{ auth.name }}"><i class="user icon"></i> Profile</a>
					</div>
				</div>
				<hr class="uk-grid-divider" />
				<a class="secondary ui button" ng-click="logout()"><i class="lock icon"></i> Logout</a>
				<a class="circular icon secondary ui right floated button" href="/{{ auth.name }}/edit"><i class="icon setting"></i></a>
			</div>
		</div>
		<div class="ui secondary three item menu" ng-if="!isLogin()">
			<a href="#mainSidebar" class="item" data-uk-offcanvas>
				<i class="bars icon"></i>
			</a>
			<a class="item head active" href="/">
				<img src="public/img/katalogram_white.png">
			</a>
			<a class="item" ng-click="loginPage()">
				<i class="unlock large icon"></i>
			</a>
		</div>
	</div>
	<div class="uk-visible-large uk-container uk-container-center">
		<div class="ui icon secondary menu">
			<a href="/" class="item head active">
				<img src="public/img/kg_white.png" width="30">
			</a>
			<!-- <a class="item">
				<i class="uk-icon-th icon"></i>
				Katalog
			</a> -->
			<!--<a class="browse item" data-position="bottom left">
				<i class="uk-icon-list icon"></i>
				Kategori
			</a>
			<div class="ui popup bottom left transition hidden inverted">
				<div class="ui inverted list uk-column-1-5 ">
					<a class="item uk-text-center uk-margin" ng-repeat="cats in categories" href="/catalog/category/{{ cats.id }}">
						<img ng-src="public/img/category/{{ cats.category_icon }}" width="50" height="50">
						<div class="uk-contrast kg-font-nav">
							{{ cats.category_name }}
						</div>
					</a>
				</div>
			</div>-->
			<div class="item search">
				<tags-input ng-enter="searchCatalog(catalog.search)" ng-model="catalog.search"
					template="template.tags.html"
					key-property="id"
					display-property="name"
					placeholder="Pencarian..."
					add-on-space="true" width="100%">
					<auto-complete source="loadTags($query)" display-property="name" min-length="1"></auto-complete>
				</tags-input>
				<!--<div class="ui icon input">
					<input type="text" placeholder="Search...">
					<i class="search link icon"></i>
				</div>-->
			</div>
			<div class="right menu" ng-if="isLogin()" >
				<a class="active item" data-uk-modal="{target:'#kg-modal'}" ng-click="createCatalog()">
					<i class="pencil icon"></i>
				</a>
				<a href="" class="item">
					<i class="mail icon"></i>
				</a>
				<a href="" class="item">
					<i class="announcement icon"></i>
				</a>
				<a class="browse item" data-position="bottom right">
					<img ng-if="auth.picture" class="ui circular image" ng-src="{{ files + 'user/picture/thumb/'+ auth.picture }}" style="width:30px" >
					<i ng-if="! auth.picture" class="user icon"></i>
					<span> {{ auth.name }}</span>
				</a>
				<div class="ui popup bottom right transition hidden">
					<div class="uk-grid uk-grid-small">
						<div class="uk-width-1-3" ui-sref="profile({username: auth.name})">
							<img ng-if="auth.picture" class="ui circular image" ng-src="{{ files + 'user/picture/'+ auth.picture }}">
							<img ng-if="! auth.picture" class="ui circular image" src="public/img/placeholder.jpg" />
						</div>
						<div class="uk-width-2-3">
							<strong class="ui header">{{ auth.name }} </strong> <i class="circular secondary lock link icon" ng-click="logout()"></i>
							<a class="ui circular primary tiny button" ui-sref="profile({username: auth.name})"><i class="user icon"></i>profil</a>
							<i ui-sref="editProfile({username: auth.name})" class="circular setting link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="right menu" ng-if="!isLogin()" >
				<a class="item" ng-click="loginPage()">
					<i class="unlock icon"></i> Login
				</a>
			</div>
		</div>
	</div>
</div>
<!-- 
<div class="uk-visible-small uk-position-cover uk-flex uk-flex-center uk-flex-bottom uk-margin-large-bottom" style="position: fixed; z-index: 2;">
	<a class="ui kg-bg-base2 circular icon button" href="{{ api }}catalog/{{ detail.catalog.id }}/export" target="_blank">
		<i class="pencil icon"></i>
	</a>
</div> -->
<!--<nav ng-class="{'kg-blur': blur==true}" class="uk-navbar uk-navbar-attached uk-contrast kg-navbar kg-bg-base" data-uk-sticky>
		<div class="uk-container uk-container-center">
			<a href="#kg-off-navbar" class="uk-navbar-toggle uk-visible-small uk-contrast" data-uk-offcanvas></a>
			<a href="/" class="uk-navbar-brand kg-bg-base2 uk-contrast kg-font-kg"><img src="public/img/katalogram_white.png" width="24"> katalogram</a>
			<ul class="uk-navbar-nav uk-hidden-small uk-text-center">
				<li><a href="/catalog"> 
					<i class="uk-icon-th"></i> 
					<p><label>Telusur</label></p></a></li>
				<li ng-click="navbarSubToggle('category')"><a> <i class="uk-icon-list"></i> 
					<p><label>Kategori</label></p></a></li>
				<li ng-click="navbarSubToggle('search')"><a> <i class="uk-icon-search"></i> 
					<p><label>Temukan</label></p></a></li>
			</ul>
			<div class="uk-navbar-flip">
				<ul ng-if="isLogin()" class="uk-navbar-nav uk-text-center">
					<li class="kg-bg-base2" ng-click="createCatalog()"><a data-uk-modal="{target:'#kg-modal'}">
						<i class="uk-icon-pencil uk-icon-small"></i>
					</a></li>
					<li class="uk-parent" data-uk-dropdown>
						<a href="">
						<img ng-if="auth.picture" class="uk-border-circle" ng-src="{{ files + 'picture/'+ auth.picture }}" width="30">
						<i ng-if="! auth.picture" class="uk-icon-user"></i>
						</a>
						<div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/{{auth.name}}" class=""><i class="uk-icon-user"></i> {{ auth.name }}</a></li>
				                <li class="uk-nav-divider"></li>
				                <li><a href="/" ng-click="logout()" class=""><i class="uk-icon-lock"></i> Logout</a></li>
                            </ul>
                        </div>
						
					</li>	
				</ul>
				<ul ng-if="! isLogin()" class="uk-navbar-nav uk-text-center">
					<li class="kg-bg-base2" ng-click="createCatalog()"><a data-uk-modal="{target:'#kg-modal'}">
						<i class="uk-icon-lock"></i><p><label>Login</label></p>
					</a></li>	
				</ul>
			</div>
		</div>
	</nav>-->
<!--<nav class="uk-navbar uk-navbar-attached uk-contrast kg-navbar-sub kg-bg-base2" data-uk-sticky ng-if="navbarSubShow" ng-switch on="navbarSub">
	<ul ng-switch-when="category" class="uk-thumbnav uk-container uk-container-center">
        <li ng-repeat="cats in categories"><a href="#"><img ng-src="public/img/category/{{ cats.category_icon }}" width="40" alt=""></a></li>
    </ul>
    <form class="uk-form uk-container uk-container-center" action="/#catalog" ng-switch-when="search">
    	<input type="text" class="uk-form-width-large"><input type="submit" class="uk-button">
    </form>
</nav>-->
