<div id="kg-off-navbar" class="uk-offcanvas uk-contrast">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
			<li><a href="#" class="kg-font-kg"><img src="public/img/katalogram_white.png" width="24"> katalogram</a></li>
            <!-- <li class="uk-parent"><a href="#"><i class="uk-icon-th"></i> Telusur</a>
                <ul class="uk-nav-sub">
                    <li><a href="">Terbaru</a></li>
                    <li><a href="">Populer</a></li>
                </ul>
            </li> -->
            <li ng-repeat="cats in categories">
                <a href="/catalog/category/{{ cats.id }}">
                <img ng-src="public/img/category/{{ cats.category_icon }}" width="20">
                {{ cats.category_name }}
                </a>
            </li>
            <!-- 
            <li class="uk-parent"><a href="#"><i class="uk-icon-list"></i> Kategori</a>
                <ul class="uk-nav-sub">
                </ul>
            </li>
             --><!-- <li class="uk-parent"><a href="#"><i class="uk-icon-search"></i> Pencarian</a>
                <ul class="uk-nav-sub">
                    <li><a href="">Terbaru</a></li>
                    <li><a href="">Populer</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>