@font-face {
    font-family: "Elliptica";
    src: url("/public/fonts/Elliptica.eot"); /* IE9 */
    src: url("/public/fonts/Elliptica.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/public/fonts/Elliptica.woff") format("woff"), /* chrome, firefox */
    url("/public/fonts/Elliptica.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/public/fonts/Elliptica.svg#Elliptica") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


