<!DOCTYPE html>
<html ng-app="kgApp">
<head>
    <link rel="shortcut icon" href="img/katalogram.png" />
    <link rel="stylesheet" href="css/katalogram.min.css" />
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <title>.:: katalogram.com (Alpha 2.0) - Situs Katalogisasi Sosial untuk Ekonomi Kreatif Indonesia ::.</title>
</head>
<body class="kg-style" ng-controller="kgController">
<div class="uk-cover-background uk-position-relative uk-contrast ui image">
    <!--<a class="ui teal ribbon label uk-text-large"> <img ng-src="img/category/{{ catalog.category.category_icon }}" width="30"> {{ catalog.category.category_name }}</a>-->
    <img class="uk-invincible" src="{{ files }}/preview/{{ catalog.preview[0].preview_pict }}" height="300" />
    <div class="uk-position-cover">
        <img class="uk-border-circle kg-logo-big" ng-src="{{ files }}/logo/{{ catalog.product_logo }}" style="margin: 0 auto; top: 300px;">
    </div>
</div>
<div class="uk-container uk-container-center uk-margin-top">
    <div class="uk-grid uk-grid-small uk-margin-top uk-text-center">
        <div class="uk-width-1-1 uk-margin-large-bottom">

        </div>
        <div class="uk-width-1-1">
            <h2 class="kg-heading kg-heading-separator uk-margin-bottom-remove"><span>{{ catalog.product_name }}</span></h2>
        </div>
        <div class="uk-width-1-1 uk-margin-top">
            <q class="kg-quote">{{ catalog.product_quote }}</q>
        </div>
        <div class="uk-width-1-1 uk-margin-bottom kg-color-gray">
            <img ng-if="catalog.owner.user_pict != null" class="uk-border-circle" src="{{ files }}/user_pict/{{ catalog.owner.user_pict }}" width="24">  &nbsp; <a href="/{{catalog.owner.name}}" ng-click="closeModal()">@{{ catalog.owner.name }}</a>
        </div>
    </div>
    <div class="uk-grid-width-1-3 ui labeled icon three item menu kg-font-base uk-visible-small uk-margin-remove">
        <a class="item" data-content="tambahkan ke koleksi favorit">
            <i class="icon">{{ catalog.num_collect }}</i>
            <p><i class="uk-icon-heart uk-icon-hover"></i> Favorit</p>
        </a>
        <a class="item" data-content="Berikan tanggapan tentang kelebihan produk">
            <i class="icon">{{ catalog.num_plus }}</i>
            <p><i class="uk-icon-thumbs-up uk-icon-hover"></i> Plus</p>
        </a>
        <a class="item">
            <i class="icon">{{ catalog.num_minus }}</i>
            <p><i class="uk-icon-thumbs-down uk-icon-hover"></i> Minus</p>
        </a>
    </div>
    <div class="uk-grid uk-grid-small uk-grid-collapse">
        <div class="uk-width-medium-2-5 uk-width-small-1-1">
            <div class="uk-width-1-1 uk-text-center uk-margin-top" ng-if="catalog.avg_rate != 0">
                <ui-knob value="catalog.avg_rate" options="knob.options"></ui-knob>
            </div>
            <div class="uk-width-1-1">
                <table class="uk-table uk-table-condensed" width="100%">
                    <tr ng-repeat="rate in catalog.criteria">
                        <th class="uk-padding-remove">{{ rate.criteria_name }}</th>
                        <td><input-stars icon-full="uk-icon-star" icon-empty="uk-icon-star-o" max="5" ng-model="rate.avg_criteria[0].criteria_rate" ng-click="giveRate(rate)"></input-stars></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="uk-width-medium-3-5 uk-width-small-1-1">
            <div class="uk-width-1-1 uk-margin-bottom">
                <div class="uk-panel uk-panel-hover">
                    <h3 class="uk-panel-title kg-heading"><i class="uk-icon-file-text-o"></i> Deskripsi</h3>
                    <p ng-bind-html="catalog.product_desc"></p>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-panel uk-panel-hover">
                    <h3 class="uk-panel-title kg-heading"><i class="uk-icon-table"></i> Data</h3>
                    <div ng-bind-html="catalog.product_data">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-grid uk-grid-divider uk-margin-top">
        <div class="uk-width-1-1 uk-margin-bottom uk-text-center">
            <div class="ui labeled button" tabindex="0">
                <div class="ui button kg-font-heading">
                    <i class="code icon"></i> Konten
                </div>
                <a class="ui basic left pointing label">
                    {{ catalog.product_embed }}
                </a>
            </div>
        </div>
        <div class="uk-width-1-1 uk-text-center uk-margin-bottom">
            <!-- <h4 class="kg-heading uk-margin-remove"><i class="uk-icon-tags"></i> Kata Kunci</h4> -->
            <span class="ui tag label teal uk-text-large" ng-repeat="tag in catalog.tag">
                 {{ tag.tag_name }}
            </span>
        </div>
    </div>

</div>
<div class="kg-bg-base uk-text-center uk-contrast" style="padding: 5%">
    <div class="uk-container">
        <img class="ui icon" src="img/katalogram_white.png" width="10%">
        <h3 class="kg-heading kg-font-kg">
            katalogram
        </h3>
    </div>
</div>
    <script src="js/export.min.js"></script>
</body>
</html>