<!-- <form class="uk-form uk-text-center">
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-input-1">Nama Produk</label>
            <div class="uk-form-controls">
                <input class="uk-form-width-large" type="text" id="product_name" placeholder="Nama Produk" name="product_name" ng-model="create.product_name">
                <input class="uk-hidden" type="text" id="category_id" name="category_id" ng-model="create.category_id">
            </div>
        </div>
        <div class="uk-form-row">
            <h3>Pilih Kategori</h3>
            <div class="uk-slidenav-position" data-uk-slider>
                <div class="uk-slider-container" style="height:130px">
                    <ul class="uk-subnav uk-subnav-pill uk-slider uk-grid-width-medium-1-5 uk-contrast" data-uk-switcher="{connect: '#listCats', animation:'slide-bottom'}">
                        <li ng-repeat="cats in categories">
                            <a ng-click="create.category_id = cats.category_id" ng-class="{ 'kg-bg-active-base': cats.category_id == create.category_id }" class="kg-bg-base2 kg-bg-hover-base uk-contrast">
                                <img ng-src="public/img/category/{{ cats.category_icon }}" width="100%" alt="">
                                {{ cats.name }}
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
                <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
            </div>
            
            <ul id="listCats" class="uk-switcher">
                <li ng-repeat="cats in categories" class="uk-grid uk-grid-small">
                    <div class="uk-width-1-3">
                        <img class="kg-bg-base kg-padding" ng-src="public/img/category/{{ cats.category_icon }}" width="80%" alt="">
                    </div>
                    <div class="uk-width-2-3">
                        <h3 class="kg-heading kg-margin">{{ cats.name }}</h3>
                        <p>{{ cats.category_desc }} </p>
                    </div>
                </li>
            </ul>
        </div>
    </form> -->
<div class="uk-modal-dialog">
	<a class="uk-modal-close uk-close"><i class="remove gray icon"></i></a>
	<div class="uk-modal-header">
		<h4 class="kg-heading"><i class="file secondary icon"></i> Buat Katalog</h4>
	</div>
	<form name="createCatalog" class="ui form" novalidate>
	  <div class="field">
	  	<div class="ui input">
			<input type="text" name="name" ng-model="formCreate.name" placeholder="Nama Produk" required>
	  		<input class="uk-hidden" type="text" ng-model="formCreate.category_id">
	  	</div>
	    <div ng-show="createCatalog.name.$invalid" class="ui pointing label">
		  masukkan nama produk kreatif kamu
	    </div>
	  </div>
	  <div class="field">
	    <div class="ui input">
			<select name="category_id" ng-model="catInd" ng-options="ind as cats.name for (ind, cats) in categories" ng-change="formCreate.category_id = categories[catInd].id" required>
			  <option value="">Kategori</option>
			</select>
	    </div>
		  <div ng-show="createCatalog.category_id.$invalid" class="ui pointing label">
			  pilih kategori kreatif kamu
		  </div>
	  </div>
	</form>
	<div ng-if="catInd" class="ui segment">
		<h2 class="ui  icon header">
		  <i class="kg-icon kg-color-base2 icon-{{categories[catInd].slug}} icon"></i>
		  <div class="content kg-heading">
			{{ categories[catInd].name }}
			<div class="sub header">{{ categories[catInd].desc }}</div>
		  </div>
		</h2>
	</div>
	<!--<div class="ui card" ng-if="catInd">
	  <div class="image kg-bg-base">
		<img class="kg-padding" ng-src="public/img/category/{{ categories[catInd].icon }}">
	  </div>
	  <div class="content">
		<a class="kg-heading">{{ categories[catInd].name }}</a>
		<div class="description">
		  {{ categories[catInd].desc }}
		</div>
	  </div>
	</div>-->
	<div class="uk-modal-footer uk-text-right">
		<button ng-disabled="!createCatalog.$valid" ng-click="saveCatalog(formCreate)" class="ui primary button" ng-class="{'disabled loading':isCreating}"><i class="send icon"></i>Ciptakan</button>
	</div>

</div>
