<div class="uk-cover-background uk-position-relative uk-contrast ui image">
	<a class="ui teal ribbon label uk-text-large"> <img ng-src="public/img/category/{{ catalog.category.icon }}" width="30"> {{ catalog.category.name }}</a>
	<img class="uk-invincible" src="{{ files }}product/picture/{{ catalog.picture }}" height="300" />
	<div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom">
		<img class="uk-thumbnail uk-border-circle kg-logo-big" ng-src="{{ files }}product/logo/{{ catalog.logo }}" width="100">
	</div>
	<!-- <div class="uk-position-cover uk-flex uk-flex-right uk-flex-top uk-margin">
		<a class="ui secondary button" href="{{ api }}catalog/{{ catalog.id }}/export" target="_blank">
			<i class="uk-icon-image"></i> Export
		</a>
	</div> -->
</div>
<div class="ui compact five item menu kg-font-base uk-hidden-small uk-margin-remove">
	<a class="item" ng-click="addCollect()" data-content="tambahkan ke koleksi favorit" kg-popup>
		<i class="empty heart link icon"></i> Favorit <span class="ui teal label">{{ catalog.collect_count }}</span>
	</a>
	<a class="item" data-content="Total score seluruh kategori" kg-popup>
		<i class="empty star link icon"></i> Rating <span class="ui teal label">{{ catalog.rating_avg }}</span>
	</a>
	<a class="item disabled"></a>
	<a class="item" href="#productFeedback" ng-click="feedback.type = 'P'"  data-content="Berikan tanggapan tentang kelebihan produk" kg-popup>
		<i class="thumbs up outline link icon"></i> Plus <span class="ui teal label">{{ catalog.plus_count }}</span>
	</a>
	<a class="item" href="#productFeedback" ng-click="feedback.type = 'M'"  data-content="Berikan tanggapan tentang kekurangan produk" kg-popup>
		<i class="thumbs down outline link icon"></i> Minus <span class="ui teal label">{{ catalog.minus_count }}</span>
	</a>
</div>
<div class="uk-container uk-container-center">
	<div class="uk-grid uk-grid-small uk-margin-top uk-text-center">
		<div class="uk-width-1-1 uk-margin-top">
			<h3 class="ui horizontal divider header kg-heading">
			  {{ catalog.name }}
			  <div class="sub header">{{catalog.quote}}</div>
			</h3>
		</div>
		<div class="uk-width-1-1 uk-margin-bottom kg-color-gray">
			<img class="ui avatar image" ng-if="catalog.user.picture != null" src="{{ files }}/user/picture/{{ catalog.user.picture }}" width="24">
			<label><a href="/{{catalog.user.name}}" ng-click="closeModal()">@{{ catalog.user.name }}</a></label>
		</div>
	</div>
	<div class="ui labeled icon three item menu kg-font-base uk-visible-small uk-margin-remove">
		<a class="item" ng-click="addCollect()" data-content="tambahkan ke koleksi favorit" kg-popup>
			<div class="kg-heading">{{ catalog.collect_count }}</div>
			<p><i class="empty heart link icon"></i> Favorit</p>
		</a>
		<a class="item" href="#productFeedback" ng-click="feedback.type = 'P'"  data-content="Berikan tanggapan tentang kelebihan produk" kg-popup>
			<div class="kg-heading">{{ catalog.plus_count }}</div>
			<p><i class="thumbs up outline link icon"></i> Plus</p>
		</a>
		<a class="item" href="#productFeedback" ng-click="feedback.type = 'M'"  data-content="Berikan tanggapan tentang kekurangan produk" kg-popup>
			<div class="kg-heading">{{ catalog.minus_count }}</div>
			<p><i class="thumbs down outline link icon"></i> Minus</p>
		</a>
	</div>
	<div class="uk-grid uk-grid-small uk-grid-collapse">
		<div class="uk-width-medium-2-5 uk-width-small-1-1">
			<div class="uk-width-1-1 uk-text-center uk-margin-top">
				<!-- <knob knob-data="catalog.avg_rate" knob-options="{max:5, width:'100%', height:'100%', readOnly:true }"></knob> -->
				<ui-knob value="catalog.rating_avg" options="knob.options"></ui-knob>
		 </div>
			<div class="uk-width-1-1">
				<table class="uk-table uk-table-condensed" width="100%">
					<tr ng-repeat="crit in catalog.product_criteria">
						<th class="uk-padding-remove">{{ crit.criteria.name }}</th>
						<td><input-stars icon-full="star icon" icon-empty="empty star icon" max="5" ng-model="crit.rate_avg" ng-click="giveRate(crit)"></input-stars></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="uk-width-medium-3-5 uk-width-small-1-1">
			<!-- <div class="uk-width-1-1">
				<div class="uk-panel uk-panel-box">
					<h3 class="uk-panel-title"><i class="uk-icon-quote-left"></i> Endorsement</h3>
					<dl class="uk-description-list-line">
						<dt><q>Great Job!! I love so much the story</q></dt>
						<dt><q>Great Job!! I love so much the story</q></dt>
					</dl>
				</div>
			</div> -->
			<div class="uk-width-1-1 uk-margin-bottom">
				<div class="uk-panel uk-panel-hover">
					<h3 class="uk-panel-title kg-heading"><i class="file text icon"></i> Deskripsi</h3>
					<p ng-bind-html="catalog.desc"></p>
				</div>
			</div>
			<div class="uk-width-1-1">
				<div class="uk-panel uk-panel-hover">
					<h3 class="uk-panel-title kg-heading"><i class="table icon"></i> Data</h3>
					<div ng-bind-html="catalog.data">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="uk-grid uk-grid-divider">
		<div class="uk-width-1-1">
			<!-- <kg-embedly maxwidth="100%" url="{{ catalog.embed }}" apikey="8081dea79e164014bcd7cd7e1ab2363a" style="width:90%"></kg-embedly> -->
			<a href="{{ catalog.embed }}" apikey="8081dea79e164014bcd7cd7e1ab2363a" class="embedly-card">Embedly</a>
		</div>
		<div class="uk-width-1-1 uk-text-center uk-margin-bottom">
			<!-- <h4 class="kg-heading uk-margin-remove"><i class="uk-icon-tags"></i> Kata Kunci</h4> -->
			<span class="ui tag label teal uk-text-large" ng-repeat="tag in catalog.product_tag">
				 {{ tag.tag.name }}
			</span>
		</div>
		<div id="productFeedback" class="uk-width-1-1 uk-margin-bottom" ng-init="feedback.type = ''">
			<div class="uk-grid-width-1-2 ui two item menu">
			  <a class="item green" ng-class="{active: feedback.type == 'P' }" ng-click="feedback.type = 'P'">
				<i class="thumbs up outline icon"></i>
				<div>Plus <span class="ui label">{{ catalog.plus_count }}</span></div>
			  </a>
			  <a class="item red" ng-class="{active: feedback.type == 'M' }"  ng-click="feedback.type = 'M'">
				<i class="thumbs down outline icon"></i>
				<div>Minus <span class="ui label">{{ catalog.plus_count }}</span></div>
			  </a>
			</div>
			<div class="ui fluid action input" ng-if="feedback.type != ''">
			  <input class="uk-hidden" type="text" ng-model="feedback.type">
			  <input type="text" placeholder="Isi umpan balik atau komentar disini" ng-model="feedback.comment" ng-enter="sendFb(feedback)">
			  <div class="ui teal icon button" ng-click="sendFb(feedback)"><i class="send small icon"></i></div>
			</div>

			<!-- <div class="uk-grid-width-1-2 uk-text-center ui two item menu">
			  <a class="item ui basic blue button">
				<i class="uk-icon-thumbs-o-up"></i> Pros
			  </a>
			  <a class="item ui basic red button">
				<i class="uk-icon-thumbs-o-down"></i> Cons
			  </a>
			</div> -->
		</div>
		<div class="uk-width-1-2">
			<div class="ui comments">
			  <div class="comment" ng-repeat="plus in catalog.feedback_plus">
				<a class="avatar">
				  <img class="ui circular image" ng-src="{{ files }}/user/picture/1.jpg">
				</a>
				<div class="content">
				  <a class="author">{{ plus.username }}</a>
				  <div class="text">
					{{ plus.comment }}
				  </div>
				  <div class="actions">
					<a ng-click="respondFb($index, plus.id, 1)"><i class="small thumbs up icon"></i></a> 10
					<a ng-click="respondFb($index, plus.id, 2)"><i class="small thumbs down icon"></i></a> 4
				  </div>
				</div>
			  </div>
			</div>
		</div>

		<div class="uk-width-1-2 uk-text-right uk-margin-large-bottom">
			<div class="ui comments right">
			  <div class="comment" ng-repeat="minus in catalog.feedback_minus">
				<a class="avatar">
				  <img class="ui circular image" ng-src="{{ files }}user/picture/1.jpg">
				</a>
				<div class="content">
				  <a class="author">{{ minus.username }}</a>
				  <div class="text">
					{{ minus.comment }}
				  </div>
				  <div class="actions">
					<a ng-click="respondFb($index, minus.minus.id, 1)"><i class="small thumbs up icon"></i></a>
					<a ng-click="respondFb($index, minus.minus.id, 2)"><i class="small thumbs up icon"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="uk-visible-small">
		<div class="uk-grid-width-1-2 ui two item top attached tabular menu">
		  <a class="item active green" data-tab="first" kg-tab ng-click="feedback.type = 'P'">
			<i class="thumbs up outline icon"></i>
			<div>Plus <span class="ui label">{{ catalog.plus_count }}</span></div>
		  </a>
		  <a class="item red" data-tab="second" kg-tab ng-click="feedback.type = 'M'">
			<i class="thumbs down outline icon"></i>
			<div>Minus <span class="ui label">{{ catalog.minus_count }}</span></div>
		  </a>
		</div>
		<div class="ui fluid action input" ng-if="feedback.type != ''">
		  <input class="uk-hidden" type="text" ng-model="feedback.type">
		  <input type="text" placeholder="Isi umpan balik atau komentar disini" ng-model="feedback.comment" ng-enter="sendFb(feedback)">
		  <div class="ui teal icon button" ng-click="sendFb(feedback)"><i class="send small icon"></i></div>
		</div>
		<div class="ui active bottom attached tab segment" data-tab="first">
		  <div class="ui comments">
			  <div class="comment" ng-repeat="plus in catalog.feedback_plus">
				<a class="avatar">
				  <img class="uk-border-circle" ng-src="{{ files }}picture/1.jpg">
				</a>
				<div class="content">
				  <a class="author">{{ plus.username }}</a>
				  <div class="text">
					{{ plus.comment }}
				  </div>
				  <div class="actions">
					<a ng-click="respondFb($index, plus.id, 1)"><i class="thumbs up outline icon"></i></a>
					<a ng-click="respondFb($index, plus.id, 2)"><i class="thumbs down outline icon"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab="second">
		  <div class="ui comments right">
			  <div class="comment" ng-repeat="minus in catalog.feedback_minus">
				<a class="avatar">
				  <img class="uk-border-circle" ng-src="{{ files }}user/picture/1.jpg">
				</a>
				<div class="content">
				  <a class="author">{{ minus.user_name }}</a>
				  <div class="text">
					{{ minus.comment }}
				  </div>
				  <div class="actions">
					<a ng-click="respondFb($index, plus.id, 1)"><i class="thumbs up outline icon"></i></a>
					<a ng-click="respondFb($index, plus.id, 2)"><i class="thumbs down outline icon"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="uk-container-center uk-modal-footer uk-grid uk-margin-top">
	<!-- <div class="ui labeled button" tabindex="0">
	  <div class="ui red button">
		<i class="uk-icon-heart"></i> Favorit
	  </div>
	  <a class="ui basic red left pointing label">
		{{ catalog.num_collect }}
	  </a>
	</div>
	<div class="ui labeled button" tabindex="0">
	  <div class="ui yellow button">
		<i class="uk-icon-star-o"></i> Rating
	  </div>
	  <a class="ui basic yellow left pointing label">
		{{ catalog.avg_score }}
	  </a>
	</div>
	<div class="ui labeled button" tabindex="0">
	  <div class="ui basic blue button">
		<i class="uk-icon-thumbs-o-up"></i> Pros
	  </div>
	  <a class="ui basic left pointing blue label">
		{{ catalog.num_plus }}
	  </a>
	</div>
	<div class="ui labeled button" tabindex="0">
	  <div class="ui basic blue button">
		<i class="uk-icon-thumbs-o-down"></i> Cons
	  </div>
	  <a class="ui basic left pointing blue label">
		{{ catalog.num_minus }}
	  </a>
	</div> -->
	<div class="uk-width-medium-1-2 uk-width-small-1-1 uk-text-left uk-margin-bottom">
		<a class="ui circular facebook icon button">
		  <i class="facebook icon"></i>
		</a>
		<a class="ui circular twitter icon button">
		  <i class="twitter icon"></i>
		</a>
		<a class="ui circular linkedin icon button">
		  <i class="linkedin icon"></i>
		</a>
		<a class="ui circular google plus icon button">
		  <i class="google plus icon"></i>
		</a>
	</div>
	<div class="uk-width-medium-1-2 uk-width-small-1-1 uk-text-right uk-margin-bottom">
		<a class="ui labeled icon blue button" href="{{ api }}catalog/{{ catalog.id }}/export" target="_blank">
			<i class="file image outline icon"></i>
			Export
		</a>
		<a ng-if="catalog.user.name == user.name" class="ui labeled icon teal button" href="/catalog/{{ catalog.id }}/edit" target="_blank">
			<i class="pencil icon"></i>
			Edit
		</a>
	</div>
</div>
