<div ng-if="catalog.picture == null" class="uk-cover kg-bg-base" style="height:150px">
  <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column">
	<i class="kg-icon icon-{{catalog.category.slug}} inverted massive icon"></i>
    <h4 class="ui inverted header uk-margin-remove">
	  {{ catalog.category.name }}
	</h4>
  </div>
</div>
<div ng-if="catalog.picture != null" class="uk-cover-background uk-position-relative kg-bg-base ui image">
	<span class="ui secondary ribbon label uk-text-large"> <i class="kg-icon icon-{{catalog.category.slug}}"></i> {{ catalog.category.name }}</span>
	<img ng-if="catalog.picture != null" class="uk-invincible" src="{{ files }}product/picture/{{ catalog.picture }}" height="300" />
	<!--<div ng-if="catalog.picture == null" class="uk-cover uk-cover-background "></div>-->
	<div ng-if="catalog.logo != null" class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom uk-visible-small">
		<img class="ui circular image" ng-src="{{ files }}product/logo/{{ catalog.logo }}" width="100" style="margin-bottom:-50px">
	</div>
	<!-- <div class="uk-position-cover uk-flex uk-flex-right uk-flex-top uk-margin">
		<a class="ui secondary button" href="{{ api }}catalog/{{ catalog.id }}/export" target="_blank">
			<i class="uk-icon-image"></i> Export
		</a>
	</div> -->
</div>
<div class="ui compact five item menu kg-font-base uk-hidden-small uk-margin-bottom">
	<a ng-if="!catalog.is_collect" class="item" ng-click="addCollect()" data-content="tambahkan ke koleksi favorit" kg-popup>
		<i class="empty heart link icon"></i> Favorit
		<span class="ui orange basic label">
			<i class="notched circle loading icon" ng-if="isCollecting"></i>
			<b ng-if="!isCollecting"> {{ catalog.collect_count }}</b>
		</span>
	</a>
	<a ng-if="catalog.is_collect" class="item" ng-click="removeCollect()" data-content="hapus dari koleksi favorit" kg-popup>
		<i class="full red heart link icon"></i> Favorit
		<span class="ui orange basic label">
			<i class="notched circle loading icon" ng-if="isCollecting"></i>
			<b ng-if="!isCollecting"> {{ catalog.collect_count }}</b>
		</span>
	</a>
	<a class="item" data-content="Total score seluruh kategori" kg-popup>
		<i class="empty star link icon"></i> Rating <span class="ui orange basic label">{{ catalog.rating_avg }}</span>
	</a>
	<a class="item disabled">
		<img class="ui circular image kg-logo-big" ng-src="{{ files }}product/logo/{{ catalog.logo }}" width="100">
	</a>
	<a class="item" href="#productFeedback" ng-click="feedback.type = 'P'"  data-content="Berikan tanggapan tentang kelebihan produk" kg-popup>
		<i class="thumbs up outline link icon"></i> Plus <span class="ui orange basic label">{{ catalog.plus_count }}</span>
	</a>
	<a class="item" href="#productFeedback" ng-click="feedback.type = 'M'"  data-content="Berikan tanggapan tentang kekurangan produk" kg-popup>
		<i class="thumbs down outline link icon"></i> Minus <span class="ui orange basic label">{{ catalog.minus_count }}</span>
	</a>
</div>
<div class="uk-container uk-container-center">
	<div class="uk-grid uk-grid-small uk-margin-top uk-text-center">
		<div class="uk-width-1-1 uk-visible-small">
			&nbsp;
		</div>
		<div class="uk-width-1-1 uk-margin-top">
			<h3 class="ui horizontal divider header uk-width-1-1 kg-heading uk-hidden-small">
			  {{ catalog.name }}
			  <div class="sub header">{{catalog.quote}}</div>
			</h3>
			<h3 class="ui primary header uk-visible-small">
				{{ catalog.name }}
				<q class="sub header uk-text-small">{{catalog.quote}}</q>
			</h3>
		</div>
		<div class="uk-width-1-1 uk-margin-bottom kg-color-gray">
			<img class="ui avatar image" ng-if="catalog.user.picture != ''" src="{{ files }}/user/picture/{{ catalog.user.picture }}" width="24">
			<label><a href="/{{catalog.user.name}}" ng-click="closeModal()">@{{ catalog.user.name }}</a></label>
		</div>
	</div>
	<div class="ui labeled three item menu kg-font-base uk-visible-small uk-margin-remove">
		<a ng-if="!catalog.is_collect" class="item" ng-class="{'disabled loading':isCollecting}" ng-click="addCollect()" data-content="tambahkan ke koleksi favorit" kg-popup>
			<i class="empty heart link large icon"></i>
			<span class="ui orange basic label">{{ catalog.collect_count }}</span>
		</a>
		<a ng-if="catalog.is_collect" class="item"  ng-class="{'disabled loading':isCollecting}" ng-click="removeCollect()" data-content="hapus dari koleksi favorit" kg-popup>
			<i class="full red heart link large icon"></i>
			<span class="ui orange basic label">{{ catalog.collect_count }}</span>
		</a>
		<a class="item" href="#productFeedback" ng-click="feedback.type = 'P'"  data-content="Berikan tanggapan tentang kelebihan produk" kg-popup>
			<i class="thumbs up outline link large icon"></i>
			<span class="ui orange basic label" for="">{{ catalog.plus_count }}</span>
		</a>
		<a class="item" href="#productFeedback" ng-click="feedback.type = 'M'"  data-content="Berikan tanggapan tentang kekurangan produk" kg-popup>
			<i class="thumbs down outline link large icon"></i>
			<span class="ui orange basic label" for="">{{ catalog.minus_count }}</span>
		</a>
	</div>
	<div class="uk-grid uk-grid-small uk-grid-collapse">
		<div class="uk-width-medium-2-5 uk-width-small-1-1">
			<div class="uk-width-1-1 uk-text-center uk-margin-top">
				<!-- <knob knob-data="catalog.avg_rate" knob-options="{max:5, width:'100%', height:'100%', readOnly:true }"></knob> -->
				<ui-knob value="catalog.rating_avg" options="knob.options"></ui-knob>
		 </div>
			<div class="uk-width-1-1">
				<table class="uk-table uk-table-condensed" width="100%">
					<tr ng-repeat="crit in catalog.product_criteria">
						<th class="uk-padding-remove">{{ crit.criteria.name }}</th>
						<td><input-stars icon-full="star icon" icon-empty="empty star icon" max="5" ng-model="crit.rate_avg" ng-click="giveRate(crit)"></input-stars></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="uk-width-medium-3-5 uk-width-small-1-1">
			<!-- <div class="uk-width-1-1">
				<div class="uk-panel uk-panel-box">
					<h3 class="uk-panel-title"><i class="uk-icon-quote-left"></i> Endorsement</h3>
					<dl class="uk-description-list-line">
						<dt><q>Great Job!! I love so much the story</q></dt>
						<dt><q>Great Job!! I love so much the story</q></dt>
					</dl>
				</div>
			</div> -->
			<div class="uk-width-1-1 uk-margin-bottom">
				<div class="uk-panel uk-panel-hover">
					<h3 class="uk-panel-title kg-heading"><i class="file text icon"></i> Deskripsi</h3>
					<p ng-bind-html="catalog.desc"></p>
				</div>
			</div>
			<div class="uk-width-1-1">
				<div class="uk-panel uk-panel-hover">
					<h3 class="uk-panel-title kg-heading"><i class="table icon"></i> Data</h3>
					<div ng-bind-html="catalog.data">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="uk-grid uk-grid-divider">
		<div class="uk-width-1-1">
			<!-- <kg-embedly maxwidth="100%" url="{{ catalog.embed }}" apikey="8081dea79e164014bcd7cd7e1ab2363a" style="width:90%"></kg-embedly> -->
			<a href="{{ catalog.embed }}" apikey="8081dea79e164014bcd7cd7e1ab2363a" class="embedly-card">Embedly</a>
		</div>
		<div class="uk-width-1-1 uk-text-center uk-margin-bottom">
			<!-- <h4 class="kg-heading uk-margin-remove"><i class="uk-icon-tags"></i> Kata Kunci</h4> -->
			<span class="ui tag label primary uk-text-large uk-margin-small-right uk-margin-small-top" ng-repeat="tag in catalog.product_tag">
				 {{tag.tag.name}}
			</span>
		</div>
		<div id="productFeedback" class="uk-width-1-1 uk-hidden-small uk-margin-bottom" ng-init="feedback.type = ''">
			<div class="uk-grid-width-1-2 ui two item menu">
			  <a class="item green" ng-class="{active: feedback.type == 'P' }" ng-click="feedback.type = 'P'">
				<i class="thumbs up outline icon"></i>
				<div>Plus <span class="ui label">{{ catalog.plus_count }}</span></div>
			  </a>
			  <a class="item red" ng-class="{active: feedback.type == 'M' }"  ng-click="feedback.type = 'M'">
				<i class="thumbs down outline icon"></i>
				<div>Minus <span class="ui label">{{ catalog.minus_count }}</span></div>
			  </a>
			</div>
			<div class="ui fluid action input" ng-if="feedback.type != ''">
			  <input class="uk-hidden" type="text" ng-model="feedback.type">
			  <input type="text" placeholder="Isi umpan balik atau komentar disini" ng-model="feedback.comment" ng-enter="sendFb(feedback)">
			  <div class="ui secondary icon button" ng-class="{'disabled loading':isSendFeedback}" ng-click="sendFb(feedback)"><i class="send small icon"></i></div>
			</div>

			<!-- <div class="uk-grid-width-1-2 uk-text-center ui two item menu">
			  <a class="item ui basic primary button">
				<i class="uk-icon-thumbs-o-up"></i> Pros
			  </a>
			  <a class="item ui basic red button">
				<i class="uk-icon-thumbs-o-down"></i> Cons
			  </a>
			</div> -->
		</div>
		<div class="uk-width-1-2 uk-hidden-small">
			<div class="ui comments">
			  <div class="comment" ng-repeat="plus in catalog.feedback_plus">
				<a class="avatar">
				  <img ng-if="plus.userpict!=''" class="ui circular image" ng-src="{{ files }}/user/picture/thumb/{{plus.userpict}}">
				  <i ng-if="plus.userpict==''" class="large circular inverted user icon"></i>
				</a>
				<div class="content">
				  <a class="author">{{ plus.username }}</a>
				  <div class="text">
					{{ plus.comment }}
				  </div>
				  <div class="actions">
					<a ng-click="respondFb($index, plus.id, 1)"><i class="small thumbs up icon"></i></a>
					<a ng-click="respondFb($index, plus.id, 2)"><i class="small thumbs down icon"></i></a>
			  		<a ng-if="plus.user_id == auth.id" ng-click="rmFb(plus.id, 'P')"><i class="remove icon"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		</div>

		<div class="uk-width-1-2 uk-hidden-small uk-text-right uk-margin-large-bottom">
			<div class="ui comments right">
			  <div class="comment" ng-repeat="minus in catalog.feedback_minus">
				<a class="avatar">
				  <img ng-if="minus.userpict!=''" class="ui circular image" ng-src="{{ files }}user/picture/thumb/{{minus.userpict}}">
				  <i ng-if="minus.userpict==''" class="large circular inverted user icon"></i>
				</a>
				<div class="content">
				  <a class="author">{{ minus.username }}</a>
				  <div class="text">
					{{ minus.comment }}
				  </div>
				  <div class="actions">
					<a ng-click="respondFb($index, minus.minus.id, 1)"><i class="small thumbs up icon"></i></a>
					<a ng-click="respondFb($index, minus.minus.id, 2)"><i class="small thumbs up icon"></i></a>
					<a ng-if="minus.user_id == auth.id" ng-click="rmFb(minus.id, 'M')"><i class="remove icon"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="uk-visible-small">
		<div class="uk-grid-width-1-2 ui two item top attached tabular menu">
		  <a class="item active green" data-tab="first" kg-tab ng-click="feedback.type = 'P'">
			<i class="thumbs up outline icon"></i>
			<div>Plus <span class="ui label">{{ catalog.plus_count }}</span></div>
		  </a>
		  <a class="item red" data-tab="second" kg-tab ng-click="feedback.type = 'M'">
			<i class="thumbs down outline icon"></i>
			<div>Minus <span class="ui label">{{ catalog.minus_count }}</span></div>
		  </a>
		</div>
		<div class="ui fluid action input" ng-if="feedback.type != ''">
		  <input class="uk-hidden" type="text" ng-model="feedback.type">
		  <input type="text" placeholder="Isi umpan balik atau komentar disini" ng-model="feedback.comment" ng-enter="sendFb(feedback)">
		  <div class="ui secondary icon button" ng-class="{'disabled loading':isSendFeedback}" ng-click="sendFb(feedback)"><i class="send small icon"></i></div>
		</div>
		<div class="ui active bottom attached tab segment" data-tab="first">
		  <div class="ui comments">
			  <div class="comment" ng-repeat="plus in catalog.feedback_plus">
				<a class="avatar">
				  <img ng-if="plus.userpict!=''" class="uk-border-circle" ng-src="{{ files }}user/picture/thumb/{{plus.userpict}}">
				  <i ng-if="plus.userpict==''" class="large circular inverted user icon"></i>
				</a>
				<div class="content">
				  <a class="author">{{ plus.username }}</a>
				  <div class="text">
					{{ plus.comment }}
				  </div>
				  <div class="actions">
					<a ng-click="respondFb($index, plus.id, 1)"><i class="thumbs up outline icon"></i></a>
					<a ng-click="respondFb($index, plus.id, 2)"><i class="thumbs down outline icon"></i></a>
					<a ng-if="plus.user_id == auth.id" ng-click="rmFb(plus.id, 'P')"><i class="remove icon"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab="second">
		  <div class="ui comments right">
			  <div class="comment" ng-repeat="minus in catalog.feedback_minus">
				<a class="avatar">
				  <img ng-if="minus.userpict!=''" class="uk-border-circle" ng-src="{{ files }}user/picture/thumb/{{minus.userpict}}">
				  <i ng-if="minus.userpict==''" class="large circular inverted user icon"></i>
				</a>
				<div class="content">
				  <a class="author">{{ minus.user_name }}</a>
				  <div class="text">
					{{ minus.comment }}
				  </div>
				  <div class="actions">
					<a ng-click="respondFb($index, plus.id, 1)"><i class="thumbs up outline icon"></i></a>
					<a ng-click="respondFb($index, plus.id, 2)"><i class="thumbs down outline icon"></i></a>
					<a ng-if="minus.user_id == auth.id" ng-click="rmFb(minus.id, 'M')"><i class="remove icon"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="uk-container-center uk-modal-footer uk-grid uk-margin-top">
	<div class="uk-width-medium-1-2 uk-width-small-1-1 uk-text-left uk-margin-bottom">
		<a class="ui circular facebook icon button" ng-click="shareTo(catalog.id, 'facebook')">
		  <i class="facebook icon"></i>
		</a>
		<a class="ui circular twitter icon button" ng-click="shareTo(catalog.id, 'twitter')">
		  <i class="twitter icon"></i>
		</a>
		<a class="ui circular google plus icon button" ng-click="shareTo(catalog.id, 'google')">
		  <i class="google plus icon"></i>
		</a>
		<a class="ui circular pinterest icon button" ng-click="shareTo(catalog.id, 'pinterest', 'http:'+files+'product/picture/'+catalog.picture, catalog.name)">
		  <i class="pinterest icon"></i>
		</a>
	</div>
	<div class="uk-width-medium-1-2 uk-width-small-1-1 uk-text-right uk-margin-bottom">
		<!--<a class="ui labeled icon primary button" href="{{ api }}catalog/{{ catalog.id }}/export" target="_blank">
			<i class="file image outline icon"></i>
			Export
		</a>-->
		<a class="ui labeled icon primary button" href="https://api.browshot.com/api/v1/simple?url=http:{{ api }}catalog/{{ catalog.id }}/view&instance_id=12&screen_width=600&screen_height=600&key=6EZNlkVJBXmbTxtCDqzNOfQQYmQ34gIZ" target="_blank">
			<i class="file image outline icon"></i>
			Export
		</a>
		<a ng-if="catalog.user.name == auth.name" class="ui labeled icon secondary button" ng-click="modal1.hide()" href="/catalog/{{ catalog.id }}/edit">
			<i class="pencil icon"></i>
			Edit
		</a>
	</div>
</div>
