//font-kg="DHF Broffont Script"
font-heading="Asap"
font-nav="Titillium Web"
font-base="Panefresco500wtRegular"

/*
color-base=#0079ab
color-base2=#00ABA9*/
bg-base=url('../img/paper_web_kg.jpg')
bg-base2=url('../img/paper_web_kg2.jpg')


color-base=#ff8e1f
color-base2=#ffc835
/*bg-base=#ff8e1f
bg-base2=#ffc835*/

bg-paper=url('../img/paper_web.jpg')
bg-paper2=url('../img/paper_web2.jpg')
/*customize Lib Style*/

body, html { background: bg-paper; height: auto; }

/*.uk-navbar-nav>li {  }
.uk-navbar-nav>li>a { text-shadow: none; font-family: font-nav }
.uk-navbar-nav>li:hover>a { background: bg-base2; text-decoration: none !important; cursor: pointer ; }
.uk-navbar-brand { color: #FFF; }
.uk-navbar-brand:hover { color: #FFF; }*/
.uk-thumbnav>*>* {  background: none;}
.uk-tab-content-right { background: #fff; border: solid thin #ddd; border-left: transparent; }
.uk-icon-large-x { font-size: 52px; }
.uk-badge { margin: 2px; font-size:16px; }
.uk-modal-close { z-index: 1020; }
.uk-placeholder {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px dashed #e5e5e5;
    background: #fafafa;
    color: #666;
}
.uk-nav-parent-icon>.uk-parent>a:after { font-family: Icons; }
.angular-input-stars>li { padding-right:1px; padding-left:1px; }
.ui.comments.right .comment .avatar { float: right; }
.ui.comments.right .comment .content { margin-right: 3.5em; margin-left: 0; }
.ui.labeled.icon.menu .item { min-width: auto; }
.ui.card.uk-container-center { margin: 0.5em auto; }
.a-inverted * { color:#333 !important; }
.ui.four.cards>.card { width: calc(25% - 1em); margin-left:0.5em; margin-right:0.5em; }
.ui.link.cards .card:hover { z-index: 1 }
.item.search { width:650px; }
.item.search tags-input { width:100%; }
.ui.menu .item.head>img:not(.ui) { width: 3em; }
.ui.corner.label, .ui.corner.label:hover { font-size: 1.3em; }
.ui.primary.label { background: color-base; color: #fff; }
.ui.secondary.label, .ui.menu .item>.secondary.label { background: color-base2; color: #fff; }
.ui.secondary.corner.label { border-color: color-base2; }
.ui.primary.corner.label { border-color: color-base; }
.ui.left.corner.label .icon { left: -0.5em }
.ui.corner.label .icon { font-size:1.5em; top:0.3em;  }
/*cropme>div { width: 100% !important; }*/

.kg-style, .kg-style a { font-family: font-base; font-size: 14px; /*text-shadow: 1px 1px 0px rgba(0,0,0,0.2);*/ }
.kg-style a {	color: color-base; }
.kg-style a:hover {	color: color-base2; }
.kg-style p>a { font-weight: bold; }
.kg-style input, .kg-style a.button { font-family: font-base !important; }

.kg-navbar  { background: none; z-index:10; }
.kg-navbar a { color: #fff !important; }
.kg-navbar a:hover, .kg-navbar a.active { background: bg-base2 !important; }
/*.kg-navbar>div>div>.head { color: #fff; font-family: font-kg; }*/
/*.kg-navbar .head { width:70px; }*/


/* katalogram original style */
.kg-section { padding: 80px 0; }
.kg-section .section-image { margin-bottom:-85px; }
.kg-opacity-3 { opacity: 0.3 !important}
.kg-img-grid li:hover img {  }
.kg-navbar>div>a { min-height: 60px; padding: 10px 20px 10px 20px !important; line-height: 5px !important; }
.kg-border-dashed { border-style: dashed; border-width: 2.0px; }
.kg-heading { font-family: font-heading; color: color-base; }
/*.kg-heading-separator {  border-bottom: 1px solid color-base; line-height: 0.1em; margin: 10px 0 20px;  }
.kg-heading-separator span { background:#fff; padding:0 10px; }
.kg-separator hr { margin-top:0.5em; }*/
.kg-margin { margin: 5%; }

/*
.kg-navbar { border: none !important; }
.kg-navbar-sub { height: 40px; padding: 5px; }
.kg-navbar .uk-navbar-nav>li>a { min-height: 60px; padding: 10px 20px 10px 20px !important; line-height: 5px !important; }
*/

.kg-logo-big, .kg-logo-small { position: relative; z-index: 1; }
.kg-logo-big { width: 128px; bottom: -64px; }
.kg-logo-small { position: relative; bottom: -25px; }
.kg-quote { font-family: "CaviarDreams"; font-size: large; font-style: normal; }
.uk-panel .kg-logo-small { width: 50px; height:50px; padding: 25px; font-size: 20px; margin-top: -85px; }

.kg-bg-hover-base:hover, .kg-bg-active-base { background: bg-base; color: #fff; -webkit-transition: background 0.2s linear; }
.kg-bg-hover-base2:hover, .kg-bg-active-base2 { background: bg-base2; color: #fff; -webkit-transition: background 0.2s linear; }
.kg-bg-base { background: bg-base !important }
.kg-bg-base2 { background: bg-base2 !important  }
.kg-bg-paper { background: bg-paper }
.kg-bg-white { background: #FFF; }
.kg-bg-dark { background: bg-paper2; }
.kg-bg-trans { background: rgba(0,0,0,0.5) }

.kg-color-base { color: color-base; }
.kg-color-base2 { color: color-base2; }
.kg-color-crimson { color: #e06b41; }
.kg-border-base2 { border-color: color-base; }
.kg-padding { padding: 20%; }
/*.kg-font-kg { font-family: font-kg !important; font-size:2em !important; }*/
.kg-font-base { font-family: font-base !important; }
.kg-font-large { font-size: 4em !important; }

.kg-blur { -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);}

/*
.kg-member-list ul { position: absolute; height:400px; overflow: visible; }
.kg-member-list li { position: relative; width:10%px; height:600px; background-color: #000000; overflow: hidden; margin:0; top:0; z-index:0; }
.kg-member-list li .bg { position: relative; max-width: 500px; max-height:auto; margin-left:-200px; margin-right:-200px; }
.kg-member-list li:hover { position: static; width: 400px; margin-left:-100px; margin-right:-100px; z-index:10 }
.kg-member-list li:hover .bg { opacity:1; }

.kg-member-list li .profile { display: none; position: absolute; top:0; width:400px; height:560px; background:rgba(60,130,130,0.9); z-index:11; padding:20px; }
.kg-member-list li:hover .profile {	display: block; }
.kg-member-list .profile-right { margin-left:300px; }
.kg-member-list .profile-left { margin-left:-440px; }
*/

.kg-crop-area {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}

.flip-clock-divider .flip-clock-label { color: #fff; }
.tagsinput > div > input { border:none !important; width: 100%; }
tags-input .tags .tag-item { background: bg-base2; color: #fff; border-color:bg-base; }
tags-input .tags .tag-item.selected { background: bg-base; color: #fff; }
tags-input .tags { border-radius: 3px; border: none; }
tags-input .autocomplete .suggestion-item.selected, tags-input .autocomplete .suggestion-item.selected em { background: bg-base2; }
#kgHero { z-index:2; height:300px; }
#kgHero .content { z-index:2; }
#kgHero:not(.sticky) { margin-top: -80px!important; position: relative; }
#kgHero.sticky { margin-top:-240px; }

@media (max-width: 1100px) {
    .modal { width: 100%; left: 0; }
    .modal-footer { width: 100%; }
}

::-webkit-scrollbar {
    width: 12px;
    position: relative;
    z-index:1050;
}
::-webkit-scrollbar-track {
    background: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background: bg-base;
}
::-webkit-scrollbar-thumb:hover {
    background: bg-base2;
}
