<div class="uk-width-large-1-2 uk-width-small-1-1 uk-container-center">
	<div class="uk-panel uk-panel-box">
	<div class="uk-panel-title"><h2 class="kg-heading">Pengaturan Pengguna</h2></div>

	<div class="ui styled fluid accordion">

	  <div class="ui title active">
	    <i class="dropdown icon"></i>
	    Informasi Anggota
	  </div>
	  <div class="content active">
	    <div class="transition visible">
		    <form class="ui form uk-container">
	    	  <div class="field">
	    	  	  <label>Nama </label>
		          <div class="ui fluid left icon input">
		            <input type="text" ng-model="profile.member.member_name" placeholder="Nama depan dan belakang">
		            <i class="user icon"></i>
		          </div>
	    	  </div>
	    	  <div class="field">
	    	  	  <label>Tanggal Lahir</label>
		          <div class="ui fluid left icon input">
		            <input type="date" ng-model="profile.member.born" placeholder="dd/mm/yyyy">
		            <i class="calendar icon"></i>
		          </div>
	    	  </div>
	    	  <div class="field">
	    	  	  <label>Jenis Kelamin</label>
	    	  	    <select ng-model="profile.member.member_gender" class="ui dropdown fluid">
				      <option value="">Jenis Kelamin</option>
				      <option value="L">Pria</option>
				      <option value="P">Wanita</option>
				    </select>
	    	  </div>
	    	  <div class="field">
	    	  	  <label>Jargon</label>
		          <div class="ui fluid left icon input">
		            <input type="text" ng-model="profile.member.member_summary" placeholder="Kalimat yang mewakili dirimu">
		            <i class="quote left icon"></i>
		          </div>
	    	  </div>
	    	  <div class="field">
	    	  	  <label>Biodata</label>
		          <textarea ng-model="profile.member.member_profile" placeholder="Biodata" rows="2"></textarea>
	    	  </div>
	    	  <div class="field">
	    	  	  <label>Website</label>
		          <div class="ui fluid labeled input">
					<div class="ui label">
					  http://
					</div>
		            <input type="text" ng-model="profile.member.member_website" placeholder="www.website.com">
		          </div>
	    	  </div>
	          <div class="field">
	          	<button class="ui labeled teal icon button uk-bg-base" ng-click="updateProfile(profile.member)">
				  <i class="uk-icon-save icon"></i>
				  Simpan
				</button>
	          </div>
	        </form>
	    </div>
	  </div>

	  <div class="ui title">
	    <i class="dropdown icon"></i>
	    Pengaturan Akun
	  </div>
	  <div class="content">
	    <div class="transition visible">
	    	<form class="ui form attached fluid segment">
	    	  <div class="field">
	    	  	  <label>Ganti Nama Akun</label>
		          <div class="ui fluid left icon action input">
		            <input type="text" ng-model="edit.name" placeholder="username / nama pengguna">
		            <i class="at icon"></i>
		            <a class="ui teal button" ng-click="changeUser('name', edit.name)">
					  Ganti
					</a>
		          </div>
	    	  </div>
	    	  <div class="field">
	    	  	  <label>Ganti Email</label>
		          <div class="ui fluid left icon action input">
		            <input type="text" ng-model="edit.email" placeholder="email">
		            <i class="mail icon"></i>
		            <a class="ui teal button" ng-click="changeUser('email', edit.email)">
					  Ganti
					</a>
		          </div>
	    	  </div>
	        </form>
	        <form class="ui form attached fluid segment">
	    	  <div class="field">
	    	  	  <label>Ganti Password</label>
		          <div class="ui fluid left icon input">
		            <input type="password" ng-model="inputPass.old" placeholder="password lama">
		            <i class="asterisk icon"></i>
		          </div>
	          </div>
	    	  <div class="field">
	    	      <div class="ui fluid left icon input">
		            <input type="password" ng-model="inputPass.new" placeholder="password baru">
		            <i class="asterisk icon"></i>
		          </div>
	          </div>
	    	  <div class="field">
	    	  	  <div class="ui fluid left icon input">
		            <input type="password" ng-model="inputPass.confirm" placeholder="konfirmasi password baru">
		            <i class="asterisk icon"></i>
		          </div>
	    	  </div>
	          <a class="ui teal button submit" ng-click="changeUser('password', inputPass)">Ganti Password</a>
	        </form>
	    	  <div class="ui bottom attached message">
			    <div class="kg-heading">Sebelum mengganti password</div>
			      Jika daftar menggunakan facebook/google, maka kosongkan kolom <b>password lama</b>
			  </div>
	    </div>
	  </div>
	</div>
</div>
