<div id="cropmeModal" class="uk-modal">
	<div class="uk-modal-dialog uk-modal-dialog-lightbox">
		<a class="uk-modal-close uk-close uk-close-alt"></a>
		<cropme
				width="600"
				height="300"
				ratio="1"
				icon-class=""
				type="jpeg"
				destination-width="300"
				id="cropme1"
				ok-label="Save"
				src=""
				cancel-label="Cancel">
		</cropme>
	</div>
</div>

<div class="ui container fluid">
	<div class="uk-margin-bottom-remove">
		<div class="uk-panel">
			<div id="kgHero" class="uk-cover-background" data-uk-sticky="{ top:'-240', clsactive:'sticky' }">
				<div ng-if="user.user_profile.cover != ''" class="uk-cover">
					<img class="uk-invincible" ng-src="{{ files }}user/cover/{{ user.user_profile.cover }}" alt="">
				</div>
				<div ng-if="user.user_profile.cover == ''" class="uk-cover uk-cover-background kg-bg-base"></div>
				<div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom">
					<div class="uk-overlay uk-overlay-hover kg-logo-big ui circular image">
						<img ng-if="user.picture != ''" class="" ng-src="{{ files }}user/picture/{{ user.picture }}">
						<img ng-if="user.picture == ''" class="" src="/public/img/placeholder.jpg">
						<div ng-if="auth.name == user.name" class="uk-overlay-panel uk-overlay-fade uk-overlay-background uk-text-center">
							<a class="ui kg-bg-base black button">Ganti</a>
						</div>
						<a ng-if="user.name == user.name" class="uk-position-cover" href="#cropmeModal" data-uk-modal></a>
					</div>
				</div>
				<div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle kg-bg-trans">
					<div class="uk-position-relative uk-text-center uk-margin-top uk-width-1-2">
						<h2 class="ui center aligned inverted header">
						  <div class="content">
							{{user.user_profile.fullname}}
							<div class="sub header">
								{{ user.user_profile.summary }}
							</div>
						  </div>
						</h2>
						<span ng-if="auth.name != user.name">
							<a ng-if="user.is_contact == false" class="ui button inverted" ng-click="addConnect(user.user_profile.id)"><i class="add user icon"></i> Tambahkan</a>
							<a ng-if="user.is_contact == true" class="ui icon green button circular inverted" ng-click="removeConnect(user.user_profile.id)"><i class="check circle icon"></i></a>
						</span>
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="uk-margin-bottom uk-margin-top">
		<div class="ui container">
			<div class="uk-grid uk-grid-small">
				<div class="uk-width-large-3-4 uk-width-small-1-1">
					<div class="ui segment">
						<div class="ui header kg-heading">Pengaturan Pengguna</div>
						<div class="ui styled fluid accordion">
						  <div class="ui title active">
							<i class="dropdown icon"></i>
							Informasi Anggota
						  </div>
						  <div class="content active">
							<div class="transition visible">
								<form class="ui form uk-container">
								  <div class="field">
									  <label>Nama </label>
									  <div class="ui fluid left icon input">
										<input type="text" ng-model="user.profile.fullname" placeholder="Nama depan dan belakang">
										<i class="user icon"></i>
									  </div>
								  </div>
								  <div class="field">
									  <label>Tanggal Lahir/Jadi</label>
									  <div class="ui fluid left icon input">
										<input type="date" ng-model="user.profile.born" placeholder="dd/mm/yyyy">
										<i class="calendar icon"></i>
									  </div>
								  </div>
								  <div class="field">
									  <label>Jargon</label>
									  <div class="ui fluid left icon input">
										<input type="text" ng-model="user.profile.summary" placeholder="Kalimat yang mewakili dirimu">
										<i class="quote left icon"></i>
									  </div>
								  </div>
								  <div class="field">
									  <label>Domisili</label>
									  <div class="ui fluid left icon input">
										<input type="text" ng-model="user.profile.summary" placeholder="alamat/kota">
										<i class="marker left icon"></i>
									  </div>
								  </div>
								  <div class="field">
									  <label>Biodata</label>
									  <textarea ng-model="user.profile.profile" placeholder="Biodata" rows="2"></textarea>
								  </div>
								  <div class="field">
									  <label>Website</label>
									  <div class="ui fluid labeled input">
										<div class="ui label">
										  http://
										</div>
										<input type="text" ng-model="user.profile.website" placeholder="www.website.com">
									  </div>
								  </div>
								  <div class="field">
									<button class="ui labeled teal icon button uk-bg-base" ng-click="updateProfile(user.profile)">
									  <i class="save icon"></i>
									  Simpan
									</button>
								  </div>
								</form>
							</div>
						  </div>

						  <div class="ui title">
							<i class="dropdown icon"></i>
							Pengaturan Akun
						  </div>
						  <div class="content">
							<div class="transition visible">
								<form class="ui form attached fluid segment">
								  <div class="field">
									  <label>Ganti Nama Akun</label>
									  <div class="ui fluid left icon action input">
										<input type="text" ng-model="edit.name" placeholder="username / nama pengguna">
										<i class="at icon"></i>
										<a class="ui teal button" ng-click="changeUser('name', edit.name)">
										  Ganti
										</a>
									  </div>
								  </div>
								  <div class="field">
									  <label>Ganti Email</label>
									  <div class="ui fluid left icon action input">
										<input type="text" ng-model="edit.email" placeholder="email">
										<i class="mail icon"></i>
										<a class="ui teal button" ng-click="changeUser('email', edit.email)">
										  Ganti
										</a>
									  </div>
								  </div>
								</form>
								<form class="ui form attached fluid segment">
								  <div class="field">
									  <label>Ganti Password</label>
									  <div class="ui fluid left icon input">
										<input type="password" ng-model="inputPass.old" placeholder="password lama">
										<i class="asterisk icon"></i>
									  </div>
								  </div>
								  <div class="field">
									  <div class="ui fluid left icon input">
										<input type="password" ng-model="inputPass.new" placeholder="password baru">
										<i class="asterisk icon"></i>
									  </div>
								  </div>
								  <div class="field">
									  <div class="ui fluid left icon input">
										<input type="password" ng-model="inputPass.confirm" placeholder="konfirmasi password baru">
										<i class="asterisk icon"></i>
									  </div>
								  </div>
								  <a class="ui teal button submit" ng-click="changeUser('password', inputPass)">Ganti Password</a>
								</form>
								  <div class="ui bottom attached message">
									<div class="kg-heading">Sebelum mengganti password</div>
									  Jika daftar menggunakan facebook/google, maka kosongkan kolom <b>password lama</b>
								  </div>
							</div>
						  </div>
						</div>
					</div>
				</div>

				<div class="uk-width-large-1-4 uk-width-1-1">
					<div class="ui styled accordion" kg-ui-accordion data-uk-sticky="{ top:70 }">
						<div class="active title"><h3 class="kg-heading"><i class="user icon"></i> Profil</h3></div>
						<div class="active content">
							{{ user.user_profile.profile }}
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
